// 🔴font-family
@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@600;700&display=swap");

// 🔴Colors
$midnightGreen: #014e56;
$lightCoral: #f67e7e;
$w: #fff;
$raptureBlue: #79c8c7;
$policeBlue: #2c6269;
$deepJungleGreen: #004047;
$sacramentoStateGreen: #012f34;
$b: #002529;
$wa: rgba(255, 255, 255, 0.5);
$ba: rgba(0, 0, 0, 0.5);

// 🔴Main
body {
  font-family: "Livvic", sans-serif;
  color: $w;
  background-color: $midnightGreen;
  // pour mettre le footer en bas de pages
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// 🔴Texts sizes
body {
  font-family: Livvic;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}
h1 {
  font-family: Livvic;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}
h2 {
  font-family: Livvic;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}
h3 {
  font-family: Livvic;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
@include responsive(768px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@include responsive(1040px) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }
}

// 🔴Buttons
a:hover {
  color: $lightCoral;
}
.link:hover {
  filter: brightness(0) saturate(100%) invert(81%) sepia(29%) saturate(1865%)
    hue-rotate(304deg) brightness(95%) contrast(103%);
}
%button {
  padding: 0.8rem 1.8rem;
  border-radius: 3rem;
}
.stateLightPrimary {
  @extend %button;
  color: $w;
  border: solid $w;
  &:hover {
    color: $b;
    background-color: $w;
  }
  &:active {
    color: $w;
    background-color: transparent;
    opacity: 0.4;
  }
}
.stateLightSecondary {
  @extend %button;
  border: solid $w;
  &:hover {
    color: $b;
    background-color: $raptureBlue;
    border: solid $raptureBlue;
  }
  &:active {
    opacity: 0.4;
  }
}
.stateDark {
  @extend %button;
  color: $b;
  border: solid $b;
  &:hover {
    color: $w;
    background-color: $b;
  }
  &:active {
    color: $b;
    background-color: transparent;
    opacity: 0.4;
  }
}

// 🔴Lines
%line {
  width: 3.5rem;
  border-bottom: solid 0.3rem;
}
.lineBlue {
  @extend %line;
  border-color: $raptureBlue;
}
.linePink {
  @extend %line;
  border-color: $lightCoral;
}

// 🔴Buttons info
%button_info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 1.7rem);
  padding: 1.3rem;
  border-radius: 50%;
}

// 🔴Input selected
.input_selected {
  border-color: $lightCoral;
  &::placeholder {
    color: $lightCoral;
  }
}
