main.contact {
  padding: 0 2rem;
  background-image: none,
    url("../assets/bg-pattern/contact/bg-pattern-contact-2.svg");
  background-position: 0, bottom -6.25rem right -6.25rem;
  .ask_us_about {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      margin: 2rem 0;
      color: $lightCoral;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .form {
    padding: 3rem 0 6rem;
    form {
      display: flex;
      flex-direction: column;
      input,
      textarea {
        @extend %ellipsis;
        padding: 0 1rem;
        height: 4rem;
        background-color: transparent;
        border: none;
        border-bottom: solid $w 0.188rem;
        &::placeholder {
          opacity: 0.5;
          color: $w;
        }
        &:focus {
          border-color: $raptureBlue;
          &::placeholder {
            opacity: 1;
          }
        }
        &:user-invalid {
          border-color: $lightCoral;
          &::placeholder {
            opacity: 0.8;
            color: $lightCoral;
          }
          & + small {
            display: block;
          }
        }
      }
      small {
        margin: 0.2rem 0 0 0.7rem;
        color: $lightCoral;
        display: none;
      }
      textarea {
        margin-top: 0.5rem;
        height: 5rem;
        overflow: hidden;
        @extend %ellipsis;
      }
      button {
        margin-top: 2rem;
        font-size: 1.1rem;
        width: fit-content;
        color: $b;
        font-weight: bold;
        background-color: $w;
        padding: 1rem 2rem;
        border-radius: 3rem;
      }
    }
  }
}

@include responsive(768px) {
  main.contact {
    padding: 0 9rem;
    background-image: url("../assets/bg-pattern/about/bg-pattern-about-2-contact-1.svg"),
      url("../assets/bg-pattern/contact/bg-pattern-contact-2.svg");
    background-position: top left -6.25rem, bottom right -6.25rem;
  }
}

@include responsive(1040px) {
  main.contact {
    padding: 0 9rem 6rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    .ask_us_about {
      margin-top: 1.5rem;
      text-align: start;
    }
    .form {
      padding: 0;
      width: 40%;
      button {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
