@import "base";
@import "styles";
@import "design-tokens";

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  nav {
    margin: 3rem 6% 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .link_tablet_desktop {
      display: none;
    }
    #menuBurger {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: $ba;
      justify-content: end;
      div {
        width: 70%;
        background-color: $midnightGreen;
        padding: 2.5rem 1.5rem 2.5rem 3.5rem;
        background-image: url("../assets/bg-pattern/bg-pattern-about-1-mobile-nav-1.svg");
        background-clip: border-box;
        background-position: bottom 0.5rem right -6.25rem;
        #closeMenuBurger {
          margin-left: 90%;
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 2.5rem;
        }
      }
    }
  }
  .top_of_pages {
    margin: 0 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    h1 {
      span {
        color: $lightCoral;
      }
    }
    .lineBlue,
    .linePink {
      display: none;
    }
  }
}

@import "home";
@import "about";
@import "contact";

.started {
  padding: 5rem 15% 8rem;
  color: $b;
  text-align: center;
  background-color: $lightCoral;
  @extend %flex-center;
  flex-direction: column;
  gap: 1.5rem;
  background-image: url("../assets/bg-pattern/bg-pattern-home-6-about-5.svg");
  background-position: bottom left;
}

footer {
  // pour le mettre en bas de pages
  flex: 1;
  white-space: pre-line;
  text-align: center;
  background-color: $b;
  padding: 3rem;
  div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .logo_other_pages {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;
      img {
        width: 10rem;
      }
      .other_pages_footer {
        display: flex;
        justify-content: center;
        gap: 3rem;
      }
    }
  }
  div:last-child {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    .reseaux {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 1rem;
      img {
        max-width: 2rem;
      }
    }
  }
}

@include responsive(768px) {
  header {
    nav {
      margin: 3rem 6% 4.5rem;
      display: flex;
      justify-content: start;
      align-items: center;
      .link_tablet_desktop {
        width: 100%;
        margin-left: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        li ul {
          display: flex;
          gap: 3rem;
        }
      }
      #openMenuBurger {
        display: none;
      }
    }
    .top_of_pages {
      margin: 0 18%;
      gap: 1.5rem;
    }
  }

  .started {
    justify-content: space-between;
    flex-direction: row;
    gap: 4.5rem;
  }

  footer {
    text-align: end;
    div:first-child {
      align-items: start;
      flex-direction: row;
      .logo_other_pages {
        align-items: start;
        flex-direction: column;
      }
    }
    div:last-child {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

@include responsive(1040px) {
  header {
    nav {
      margin: 3rem 6% 6.5rem;
    }
    .top_of_pages {
      text-align: start;
      justify-content: space-between;
      align-items: start;
      flex-direction: row;
      h1 {
        margin-right: 4rem;
        width: 45rem;
      }
      .lineBlue,
      .linePink {
        display: block;
        margin-bottom: 5.5rem;
      }
    }
  }
  footer {
    text-align: start;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div:first-child {
      margin: 0;
      justify-content: start;
      flex-direction: row;
      gap: 8rem;
      .logo_other_pages {
        margin: 0;
        align-items: start;
        flex-direction: column;
      }
    }
    div:last-child {
      margin: 0;
      flex-direction: column;
      align-items: end;
      justify-content: start;
    }
  }
}
